.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 0;
}
